/* font-family: "Raleway",sans-serif; font-family:
"Roboto",sans-serif; */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;}
    
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;}

    .container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }
/* header */

.page-header{
border-bottom: 1px solid #e7e9fc;
}
.header-container{
display: flex;
align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo{
    padding: 24px 0; 
    margin-right: 76px ;
}
.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list{
display: flex;
align-items: center;
gap: 40px;
}
.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-list{
display: flex;
align-items: center;
gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* #region hero */
.hero {
    background: #2e2f42;
    text-align: center;
    padding: 188px 0;
}

.hero-title {
   
    margin: 0 auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    color: #fff;
    margin-bottom: 48px;
}

.btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
height: 56px;
padding: 0 24px;
    min-height: 45px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404bbf;
    color: #fff;
    cursor: pointer;
}

/* #characteristics tools */
.characteristics-container{
padding: 120px 0 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.characteristics-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.characteristics-item{
   width: calc((100% - 3 * 24px) / 4)
   
}
.characteristics-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.characteristics-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* #region tools */
.tools {
    background-color: #f4f4fd;
    color: #434455;
    padding: 120px 0;
    text-align: center;
    }

.section-title {
    margin: 0 auto 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.tools-list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px; 
list-style: none;
margin: 0;
padding: 0;
justify-content: center;
}

.tools-item {
    background-color: #fff;
    width: calc((100% - 24px*3) / 4);
    overflow: hidden;
border-radius: 0px 0px 4px 4px;
}
.tools-ill{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 32px;
}
.tools-name-info{
padding: 32px 0;

}
.tools-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.tools-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin: 0;
}

/* #region portfolio */
.portfolio-container {
padding: 120px 0 120px 0;
background-color: #fff;
text-align: center;

}

.portfolio-title {
    margin: 0 auto 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    text-transform: capitalize;
    color: #2e2f42;
}


.portfolio-list{
display: flex;
    flex-wrap: wrap;
   row-gap: 48px;
   column-gap: 24px;
    justify-content: center;
}


.portfolio-item {
    width: calc((100% - 24px*2) / 3 );
    background-color: #fff;
    overflow: hidden;
}

.portfolio-ill{
display: block;
width: 100%;
 height: auto;
}


.portfolio-name-box{
border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding-block: 32px;
    padding-inline: 16px;
    text-align: left;
    
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    
    color: #2e2f42;
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.footer {
    background: #2e2f42;
padding: 100px 0;
}

.footer-container{
  flex-direction: column; 
  align-items: flex-start;
}
.footer-header-logo 
.footer-logo-part {

    color: #f4f4fd;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.footer-slogan {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
    max-width: 264px;
    margin-top: 16px;
}